* {
  margin: 0;
  padding: 0;
}

h1 {
  width: 1200px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
  position: relative;
  color: white;
}

h1 > p {
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
}

h1 > p > a {
  color: red;
  text-decoration: none;
}

ul {
  width: 1200px;
  margin: 20px auto;
  background-color: white;
}

ul li {
  display: flex;
  justify-content: space-between;
}

ul li .right {
  background-color: pink;
  width: 595px;
  height: 595px;
}

ul li img {
  width: 595px;
  height: 100%;
}

ul li .title {
  font-size: 24px;
  margin: 60px 20px;
}
 
ul li .info p {
  font-size: 40px;
  margin: 70px 20px;
}

ul li .info p span {
  color: red;
}

ul li .info .price1 {
  text-decoration: line-through;
  color: gray;
}

ul li .info .sale_type {
  color: rgb(44, 199, 44);
}

ul li div img {
  width: 1200px;
  margin: 0 auto;
  height: 300px;
}